.information-container
  .information-container__top
    %h1.logo
      = image_tag 'furima-logo.svg'
    %nav.progress-barsignup
      %ol.clearfix
        %li.through
          会員情報
          .progres-status.through
            %pseudo:after &gt;
            %pseudo:after &gt;
        %li.through
          氏名、生年月日
          .progres-status.through
            %pseudo:after &gt;
            %pseudo:after &gt;
        %li.active
          完了
          .progres-status
  .information-container__main
    .information-container__main__section
      %h2 会員登録完了しました
      .registration-form
        .form_contents
          .form-group
            %p ありがとうございました 
            %br/
            %p.p2 会員登録が完了しました。
            .btn-red
              = link_to 'トップページに戻る', root_path, class: "top-jamp"