.appbanner
  .appbanner-inner
    %h2.appbanner-inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.appbanner-inner__text
      今すぐ無料ダウンロード!
    .appbanner-inner__icon
      .a__btn
        = link_to "#" do
        = image_tag "#", size: "180x53"
      .g__btn
        = link_to "#" do
        = image_tag "#", size: "180x53"
