.l-content {
  float: right;
  width: 700px;
  .l-chapter-container {
    margin: 0;
    background-color: #fff;
    .l-chapter-head {
      padding: 12px 4%;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-size: 18px;
    }
    .l-single-inner {
      padding: 40px 40px 64px;
      border-top: 1px solid #f5f5f5;
      .l-single-content {
        max-width: 343px;
        margin: 0 auto;
        .form-group {
          label{
            font-weight: 600;
            font-size: 14px;
            display: inline-block;
          }
          .form-require {
            background: #ea352d;
            margin:0 3px 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            height: 19px;
          }
          .number {
            width: 300px;
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          .signup-card-list {
            margin: 8px 0 0;
            font-size: 0;
            display: flex;
            li {
              margin: 0;
              display: inline-block;
            }
          }
        }
        .signup-form-expire {
          margin: 24px 0 0;
          label{
            font-weight: 600;
            font-size: 14px;
            display: inline-block;
          }
          .form-require {
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          .input-box-six {
            display: flex;
          .select-default {
            width: calc(100% - 38px);
            position: relative;
            z-index: 2;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            }
            span {
              margin: 10px;
            }
          }
        }
      }
      .ee {
        margin-top: 32px !important;
        margin: auto;
        width: 343px;
        label{
        font-weight: 600;
        font-size: 14px;
        }
        .form-require {
          background: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
        .cvc{
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          box-sizing: border-box;
          }
      }
      .card__form__content--help.form_space {
        text-align: right;
        color: #0099e8;
      }
      .submit-btn {
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        width: 343px;
        display: block;
        line-height: 48px;
        font-size: 14px;
        margin-top: 30px;
      }
    }
  }
}