.category__contents{
  margin: 40px auto;
  width: 700px;
  height: 100%;
  a{
    text-decoration: none;
  }
  .category__parent{
    display: block;
    height: 300px;
    &__head{
      font-size: 25px;
      font-weight: bold;
    }
    &__name{
      text-align: center;
      display: block;
      .parent__category__item{
        float: left;
        display: block;
        border-radius: 4px;
        min-width: 80px;
        height: 40px;
        box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
        padding: 0 30px;
        margin: 5px;
        color: #333;
        font-size: 16px;
        line-height: 40px;
      }
      a:hover{
        color: #ffb340;
      }
    }
  }
  .category__lists{
    margin: 30px auto;
    display: block;
    &__list{
      border-radius: 4px;
      margin-bottom: 40px;
      background-color: white;
      &__head{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 7px 30px 0 30px;
        height: 40px;
        border-bottom: solid 1px #3CCACE;
        h2{
          font-size: 22px;
          margin: 0;
        }
      }
      &__content{
        padding: 24px 30px 10px 30px;
        &__all{
          font-size: 16px;
          margin-top: 8px;
          a{
            color: #0099e8;
            text-decoration: none;
          }
        }
        &__item{
          .child__category__item{
            display: block;
            color: #000;
            font-weight: bold;
            padding-top: 5px;
            padding-bottom: 5px;
          }
          &__grand{
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            display: inline-block;
            width: 100%;
            .grandchild__category__item{
              float: left;
              width: 50%;
              padding: 0 20px 0 0;
              color: #0099e8;
            }
          }
        }
      }
    }
  }
}

// show
.category__contents{
  margin: 24px auto 0;
  width: 700px;
  height: 100%;
  padding: 0 0 40px;
  a{
    text-decoration: none;
  }
  &__content{
    width: 100%;
    .category__name{
      font-size: 22px;
      margin: 24px 0 20px;
      border-bottom: solid 1px #3CCACE;
    }
    .item__info{
      margin: 0 auto;
      width: 800px;
      &__box{
        margin-left: 0;
        margin: 0 20px 20px 0;
        width: 160px;
        border: solid 1px rgb(172, 172, 172);
        float: left;
        a{
          display: block;
          color: #333;
          .item__info__box__photo{
            width: 100%;
            height: 120px;
            overflow: hidden;
            position: relative;
            img{
              height: 100%;
            }
          }
          .item__info__box__body{
            position: relative;
            height: 58px;
            padding: 8px 12px;
            &__name{
              font-size: 14px;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
            }
            &__num{
              display: flex;
              &__price{
                z-index: 2;
                position: absolute;
                top: -30px;
                left: 0;
                padding: 4px 12px 4px 8px;
                border-radius: 0 16px 16px 0;
                font-weight: 600;
                color: #fff;
                background-color: rgba(0,0,0,0.3);
              }
              &__heart{
                position: absolute;
                right: 12px;
                bottom: 10px;
                padding-left: 32px;
                background: linear-gradient(to right, rgba(255,255,255,0), #fff 24px);
                font-size: 16px;
                font-weight: 400;
                color: #333;
                .heart__icon{
                  color: #ccc;
                }
              }
            }
          }
        }
      }
    }
    .item__info:after {
      content: "\000A";
      white-space: wrap;
    }
    .pagers{
      position: relative;
      font-size: 0;
      text-align: center;
      display: flex;
      li{
        list-style: none;
      }
      a{
        text-decoration: none;
        color: #000;
      }
      &__num{
        max-width: 220px;
        margin: 0 auto;
        .pager__cell {
          display: inline-block;
          width: 44px;
          height: 44px;
          border-radius: 4px;
          background: #fff;
          border: 1px solid #ccc;
          font-size: 14px;
          line-height: 42px;
          cursor: pointer;
        }
      }
      &__next{
        .pager__cell{
          display: inline-block;
          width: 44px;
          height: 44px;
          border-radius: 4px;
          background: #fff;
          border: 1px solid #ccc;
          font-size: 14px;
          line-height: 42px;
          cursor: pointer;
        }
      }
    }
  }
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
}
