.contents
  .contents--top
    .name
    .images
      .image__big
      .image__small
        .image__small__1
        .image__small__2
        .image__small__3
    .price
    .infomation
      %table
        %tr.detail
          %th.detail__title
            商品の説明
          %th.detail__content
        %tr.nickname
          %th.nickname__title
            出品者
          %th.nickname__content
        %tr.category
          %th.category__title
            カテゴリー
          %th.category__content
        %tr.brand
          %th.brand__title
            ブランド
          %th.brand__content
        %tr.size
          %th.size__title
            サイズ
          %th.size__content
        %tr.status
          %th.status__title
            商品の状態
          %th.status__content
        %tr.postage
          %th.postage__title
            配送料の負担
          %th.postage__content
        %tr.area
          %th.area__title
            発送元の地域
          %th.area__content
        %tr.estimated
          %th.estimated__title
            発送日の目安
          %th.estimated__content
    .buy--btn
    .under--btn
      .top--btn__favorite
      .top--btn__report
  .contents--under
    .comments
    .move--btn
      .move--btn__forward
      .move--btn__backward
    .back--category